body {
    background-image: url('../img/fondo_login.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Diseño del main*/
.contenedor {
    display: inline-flex;
    width: 75rem;
    height: 35rem;
    position: relative;
    top: 5rem;
    left: 6%;
    background-color: #ffffff;
    box-shadow: -10px -10px #000;
}

/*Diseño del formulario*/
.formulario {
    display: inline-block;
    width: 350px;
    height: 500px;
    position: relative;
    top: 2em;
    left: 3em;
    border-radius: 4px;
    background-color: #E2D6F3;
}

.formulario header h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    color: #4C1C93;
    text-align: center;
    margin-top: 1.8em;
}

.campos-formulario {
    margin-top: 2rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.campos-formulario label, .campos-formulario input {
    position: relative;
    left: 1em;
    color: #4C1C93;
}

.campos-formulario label, .campos-formulario input, .campos-formulario button {
    display: block;
    margin: 2rem;
}

.campos-formulario input {
    background-color: #E2D6F3;
    border-bottom: solid #4C1C93;
}

.campos-formulario button {
    position: relative;
    left: 3rem;
    margin-top: 3em;
    background-color: #4C1C93;
    border-radius: 4px;
    border: #4C1C93;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
}

.campos-formulario button:hover {
    cursor: pointer;
}