#registro-masivo-form{
    margin-top: -32.5rem;
}

/* -------------------- Diseño del container del formulario del registro individual -------------------- */
#registro-masivo-form {
    padding: 1.4rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

/* Diseño del botón de registro de usuarios*/
#registrarUsuario {
    margin-top: 1.2rem;
}