/*Diseño del título de la página*/
.container {
    margin: 0px auto;
}

.container .row #titulo,
.container .row #descripcion {
    padding: 0px;
    font-family: 'Dosis', sans-serif;
    color: #FFFFFF;
}

.container .row #titulo {
    font-size: 2.2em;
}

.container .row #descripcion {
    margin-top: 1rem;
    font-size: 1.4em;
}