#titulo,
#subtitulo {
    padding: 0px;
    font-family: 'Dosis', sans-serif;
    color: #FFFFFF;
}

/*Diseño de los formularios para subir un material educativo*/
#form-me div {
    margin: 1rem 0px;
}

/*Diseño de los materiales educativos*/
.card {
    font-family: 'Roboto Condensed', sans-serif;
}

.card-title {
    font-weight: 200;
    font-size: 1.5rem;
}

.card-title:hover {
    cursor: pointer;
}